.account-bg-overlay {

    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(4px);
    pointer-events: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100000;
    transition: opacity 0.5s ease, visibility, 0.5s;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.open-account-bg-overlay{
        transition: opacity 0.5s ease, visibility, 0.5s;
        visibility: inherit;
        opacity: 1;
}



.account {

    display: flex;
    flex-direction: column;
    height: 290px;
    width: 274px;


    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    z-index: 100000;
    visibility: hidden;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.3s ease;
}


 .account-open {

    visibility: inherit;
    transform: translateY(0px);
    opacity: 1;
}


.account-header {

    flex-basis: 5%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.account .account-back-button {

    height: 20px;

}

.account .account-logo {

height: 20px;

}



.account-main {

    
    display: none;
    flex-basis: 80%;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.account-main-open {

    display: flex;
    opacity: 1;

}

.account-main-close {

    display: flex;
    opacity: 0;

}


.logged-screen{

    width: 100%;
    flex-basis: 80%;
    padding: 0 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    visibility: inherit;
    opacity: 1;
    transition: all 0.3s ease;

}

.logged-screen-open{

    display: flex;
    opacity: 1;

}


.logged-screen-close{

    display: flex;
    opacity: 0;

}

.logged-screen .logged-title {

    font-weight: 700;
    font-size: 30px;
    color: #00c000;

}

.logged-screen .logged-messege {

    font-weight: 700;
    font-size: 18px;
    color: #00c000;

}

.logged-screen a {

    height: 30px;
    width: fit-content;
    background-color: #dcd8d8;
    padding: 0px 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logged-screen a:hover {

    background-color: #b8b8b8;
}





.account-input {

    width: 100%;
    flex-basis: 80%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;

}






.account-input input {

    width: 100%;
    height: 30px;
    border: 0;
    background-color: rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 15px;
    color: black;
    outline: none;
}


.account-input input:focus {

    border: 1px solid gray;
}


.account-buttons {

    flex-basis: 50%;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;

}

.account-buttons a {

    text-decoration: none;

}

.account-buttons .account-button {

height: 30px;
width: fit-content;
background-color: #dcd8d8;
padding: 5px 30px;
text-align: center;
line-height: 30px;
border-radius: 5px;
font-weight: 500;
align-self:flex-end;
cursor: pointer;
}


.account-buttons .account-button:last-child {

background-color: #313338;
color: white;

}


.account-buttons .login-button:hover {


    background-color: #dcd8d8;


}


.warning-error {

    display: none;
}


.warning-error-open {

    color: red;
    font-size: 12px;
    display: inherit;
}