.shop-bg-overlay {

    height: 100vh;
    width: 120vw;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(4px);
    pointer-events: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: opacity 0.5s ease, visibility, 0.5s;
    visibility: hidden;
    opacity: 0;
    }
    
.open-shop-bg-overlay{
    transition: opacity 0.5s ease, visibility, 0.5s;
    visibility: inherit;
    opacity: 1;
    }

.shop-modal {

    position: fixed;
    display: flex;
    flex-direction: column;
    right: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility, 0.5s;
}

.shop-modal-open {

    visibility: inherit;
    opacity: 1;
    transform: translateY(0px);
}

.shop-modal .shop-header {

    width: 100%;
    flex-basis: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.shop-modal .header-section {
    flex-basis: 100%;
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}

.shop-modal .header-section-1{

    display: flex;
    align-items: center;
}

.shop-modal .header-section .shop-title {

    margin: 0;
    font-size: 34px;
}

.shop-modal .header-search {

    height: 50%;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.shop-modal .header-search span {

    margin: 0 15px;
}
/* FILTERS */
.shop-modal  .search-bar{

    height: 70%;
    border: 1px solid #5c5e62;
    border-radius: 15px;
    margin-right: 15px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #5c5e62;
    font-weight: 500;
    outline: none;
}

.shop-modal .header-search .order-by{

    height: 70%;
    width: fit-content;
    border: 1px solid #5c5e62;
    border-radius: 15px;
    padding-left: 10px;
    text-align: left;
    color: #5c5e62;
    font-weight: 500;
    outline: none;
}

/* MAIN */
.shop-main {
    flex-basis: 90%;
    display: flex;
    height: inherit;
    justify-content: flex-end;
    padding-left: 15px;
    margin-top: 15px;
    box-sizing: border-box;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* SIDE SECTION */

.shop-main .shop-side-section {

    height: 100%;
    width: 0;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: white;
    position: relative;
    left: 7px;
    margin-left: -7px;
    transition: width 1s ease;
    visibility: hidden;
}

.shop-main .shop-side-section .shop-side-section-wrapper {
    
    height: 0;
    display: none;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.shop-main .shop-side-section .shop-side-section-wrapper-open {
 
    display: flex;
    opacity: 1;
    height: 655px;
}
.shop-main .shop-side-section .shop-side-section-wrapper-close {
    
    display: flex;
    opacity: 0;
    height: 655px;
}

.shop-main .shop-side-section-open {

    width: 500px;
    height: 41rem;
    display: flex;
    visibility: inherit;
}

.shop-main .shop-side-section-close {

    width: 0;
    height: 100%;
    display: flex;
    padding: 0px;
    margin: 0;
    visibility: inherit;
}

.shop-side-section .side-section-top {

    height: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
    }

.shop-side-section .back-button{

    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.shop-side-section .back-button:hover {

background-color: hsla(0,0%,0%,.05);
}

.shop-side-section .side-section-top img {
    
        height: 14px;
        transform: rotate(180deg);
        margin-right: 5px;
    }

    .shop-side-section .side-section-top span {

        font-size: 14px; 
    }

.shop-side-section .shop-model-title{

    font-size: 24px;
    font-weight: 600;
    text-align: center;
    animation: reveal-up-simple 1s ease;
}

.shop-side-section .item-img {

    animation: reveal-up-simple 1s ease 0.3s backwards;
}


.shop-model-position-1 {

    display: flex;
    width: 100%;
    margin: 15px 0;

}

.shop-model-position-1 .shop-model-position-1-item{

    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    align-items: center;
    animation: reveal-up-simple 1s ease backwards;
}

.shop-model-position-1-item:nth-child(1){

    animation-delay: 0.1s;
}

.shop-model-position-1-item:nth-child(2){

    animation-delay: 0.2s;
}

.shop-model-position-1-item:nth-child(3){

    animation-delay: 0.3s;
}

.shop-model-position-1 .shop-model-position-1-item .position-1-value{

    font-size: 24px;
}

.shop-model-position-1 .shop-model-position-1-item .position-1-unity {

    font-size: 14px;
}

.shop-model-position-1 .shop-model-position-1-item .position-1-type {

    font-size: 12px;
    font-weight: 400;
    color: #5c5e62;
}

.shop-model-position-2 {

    display: flex;
    width: 100%;
    animation: reveal-up-simple 1s ease 0.3s backwards;
}


.shop-model-position-2 p {

    font-size: 12px;
    font-weight: 400;
    color: #5c5e62; 
}

.shop-main .shop-side-section .item-buttons {

    flex-basis: 20%;
}

.shop-main .shop-side-section .item-buttons span {

    animation: reveal-up-simple 1s ease 0.3s backwards;
}
.shop-main .shop-side-section .item-buttons input:nth-child(2) {

    animation: reveal-up-simple 1s ease 0.4s backwards;
}
.shop-main .shop-side-section .item-buttons input:nth-child(3) {

    animation: reveal-up-simple 1s ease 0.5s backwards;
}

.shop-main .shop-side-section .item-buttons span {

    margin: 15px 0;
}

@keyframes reveal-up-simple {
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{

        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes reveal-left-simple {
    from{
        opacity: 0;
        transform: translateX(30px);
    }

    to{

        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes reveal-opacity-simple {
    from{
        opacity: 0;
    }

    to{

        opacity: 1;
    }
}

/* RESULTS */
.shop-main .shop-results{

    flex-basis: 100%;
    height: 655px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: all 1s ease;
}

.shop-main .shop-results-open {

    width: 100%;
}

.shop-main .shop-results .shop-item{

    width: 305px;
    height: 47%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.3s;
}

.shop-item-hover , .shop-main .shop-results .shop-item:hover{

    transform: translateY(-5px);
    box-shadow: 2px 2px 7px 1px rgb(0 0 0 / 20%);
}

/* ITEMS */
.shop-main .item-img {

    flex-basis: 40%;
    height: 40%;
}

.shop-main .item-img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.shop-main .item-description {

    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.shop-main .item-description {

    font-weight: 500;
}

.shop-main .item-description .shop-model-title {

    font-size: 15px;
}

.shop-main .item-description .shop-model-price {

    font-size: 22px;
}

.shop-main .item-buttons {

    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.shop-main .shop-buy-button, .shop-add-cart-button {

    background-color: #3e6ae1;
    width: 100%;
    height: 32px;
    border: 0;
    border-radius: 16px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shop-main .shop-buy-button:hover {

    background-color: #375cc2;
}

.shop-add-cart-button {

    background-color: #f4f4f4;
    color: rgb(49, 49, 49);
}

.shop-add-cart-button:hover {

    background-color: #ebebeb;
}