/* ==========================> global <========================== */
*{
        font-family: Gotham Medium,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        color: #393c41;
        scroll-behavior: smooth;
        
}

body{
    background-color: rgb(226, 226, 226);
    padding: 0;
    margin: 0;
    overflow-y: hidden;

    
}

    main::-webkit-scrollbar, .shop-main::-webkit-scrollbar,.shop-results::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
    }
 
    main::-webkit-scrollbar-track, .shop-main::-webkit-scrollbar-trackm,.shop-results::-webkit-scrollbar-trackm{
        background-color: transparent;
    }
 
    main::-webkit-scrollbar-thumb, .shop-main::-webkit-scrollbar-thumb,.shop-results::-webkit-scrollbar-thumb{
    background: rgb(182, 182, 182);
    border-radius: 20px;
    }




/* ==========================> Header <========================== */


header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    animation: ini-opacity-animation 1.5s;


}


.header-wrapper{

    min-height: 54px;
    align-items: center;

}

#marker {

    background-color: hsla(0,0%,0%,.05);
    backdrop-filter: blur(16px);

    transform: translateX(12px);
    position: absolute;
    left: 0;
    height: 32px;
    border-radius: 12px;
    transition: background-color 1.5s , width 0.5s;
    z-index: -1;
    opacity: 0;
 


}


/* ================> top-header <================*/

.container-header-top {

    height: 50%;
    flex-basis: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-header-bottom {

    height: 50%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-header-top span {
    
    color: #393c41;

}



/* ================> logo <================*/

.container-logo {

    display: flex;
    flex-basis: 15%;
    padding-left: 32px;
    box-sizing: border-box;


}

.container-logo img {

    height: 30px;
    width: 120px;
}

/* ================> central menu <================*/

.container-central-menu {

    display: flex;
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
    
}

.container-central-menu a, .container-menu a {

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    z-index: 10000;
    padding: 5px 15px
}

/* ================> menu <================*/

.container-menu {
    display: flex;
    flex-basis: 15%;
    padding-right: 30px;
    text-decoration: none;
    justify-content: flex-end;
    

}

.container-menu a {

    display: flex;
    justify-content: center;

}



/* ==========================> Main <========================== */

/* ==========================> media querry <========================== */
