/* ==========================> global <========================== */
*{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        color: #393c41;
        scroll-behavior: smooth;
}

body{
    background-color: rgb(226, 226, 226);
    padding: 0;
    margin: 0;
    overflow-y: hidden;

    
}


/* ==========================> Header <========================== */


header {
    height: 107px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: fixed;


}

.header-wrapper{

    min-height: 54px;
    align-items: center;

}

#marker {

    background-color: hsla(0,0%,59%,0.1);
    padding: 0 12px;
    position: absolute;
    left: 0;
    height: 32px;
    border-radius: 10px;
    transition: background-color 1.5s , width 0.5s;
 


}


/* ================> top-header <================*/

.container-header-top {

    height: 50%;
    flex-basis: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-header-bottom {

    height: 50%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-header-top span {
    
    color: #393c41;

}



/* ================> logo <================*/

.container-logo {

    display: flex;
    flex-basis: 30%;
    padding-left: 32px;
    box-sizing: border-box;


}

.container-logo img {

    height: 30px;
    width: 120px;
}

/* ================> central menu <================*/

.container-central-menu {

    display: flex;
    flex-basis: 40%;
    justify-content: space-around;
    align-items: center;
    
}

.container-central-menu a {

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    z-index: 10000;
}

/* ================> menu <================*/

.container-menu {
    display: flex;
    flex-basis: 30%;
    text-decoration: none;
    justify-content: flex-end;

}

.container-menu a {

    flex-basis: 20%;
}


/* ==========================> Main <========================== */

main {

    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

main section {

    scroll-snap-align: start;
}

.section-model {

    height: 100vh;
    background-image: url(assets/model-s-bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.model-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: fixed;
    top: 54px;
    margin-top: 10vh;

    
}

.model-title {

    font-size: 40px;
    font-weight: 500;
    margin: 0%;
}

.model-description {

    font-size: 14px;
    font-weight: 400;
    margin: 0%;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    position: fixed;
    bottom: 15vh;
}

.button-wrapper a {
    height: 40px;
    width: 256px;
    background-color: #dcd8d8;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Gotham Book",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #313338;

}

.button-wrapper a:first-child {
    color: white;
    background-color: #313338;
}

/* ================> model s <================*/

.section-model-s {

    background-image: url(assets/model-s-bg.jpg);

}

/* ================> model 3 <================*/

.section-model-3 {

    background-image: url(assets/model-3-bg.jpg);

}

/* ================> model x <================*/

.section-model-x {

    background-image: url(assets/model-x-bg.jpg);

}

/* ================> model y <================*/

.section-model-y {

    background-image: url(assets/model-y-bg.jpg);

}

/* ================> solar roof <================*/

.section-solar-roof {

    background-image: url(assets/solar-roof-bg.jpg);

}

/* ================> solar panels <================*/

.section-solar-panels {

    background-image: url(assets/solar-panel-bg.jpg);

}


/* ==========================> media querry <========================== */

@media (min-width: 640px) and (max-width: 1200px) {
    
    header {
            justify-content: space-between;
        
        }
        
    .container-central-menu {
        
            display: none;
        }
        
    header .container-menu #shop-button, header .container-menu #account-button{

            display: none;
        }

    header .container-menu #side-menu-button {

            width: fit-content;
            margin-right:  32px;;
        }

}


@media (max-width: 639px) {

    
    header {
            justify-content: space-between;
        
        }
        
    .container-central-menu {
        
            display: none;
        }
        
        header .container-menu #shop-button, header .container-menu #account-button{
    
            display: none;
        }
    
    header .container-menu #side-menu-button {
    
            width: fit-content;
            margin-right:  32px;;
        }


    .button-wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

    .button-wrapper a {


            flex-basis: 100%;
            margin-bottom: 15px;
        }

}

@media (max-width: 910px){


/* ================> model s <================*/

.section-model-s {

    background-image: url(assets/model-s-bg-m.jpg);

}

/* ================> model 3 <================*/

.section-model-3 {

    background-image: url(assets/model-3-bg-m.jpg);

}

/* ================> model x <================*/

.section-model-x {

    background-image: url(assets/model-x-bg-m.jpg);

}

/* ================> model y <================*/

.section-model-y {

    background-image: url(assets/model-y-bg-m.jpg);

}

/* ================> solar roof <================*/

.section-solar-roof {

    background-image: url(assets/solar-roof-bg-m.jpg);

}

/* ================> solar panels <================*/

.section-solar-panels {

    background-image: url(assets/solar-panel-bg-m.jpg);

}

}