/* ==========================> global <========================== */
*{
        font-family: Gotham Medium,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        color: #393c41;
        scroll-behavior: smooth;
}

body{
    background-color: rgb(226, 226, 226);
    padding: 0;
    margin: 0;
    overflow-y: hidden;

    
}


/* ==========================> Header <========================== */


header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    animation: ini-opacity-animation 1.5s;


}


.header-wrapper{

    min-height: 54px;
    align-items: center;

}

#marker {

    background-color: hsla(0,0%,0%,.05);
    backdrop-filter: blur(16px);
    padding: 0 12px;
    position: absolute;
    left: 0;
    height: 32px;
    border-radius: 12px;
    transition: background-color 1.5s , width 0.5s;
    z-index: -1;
    opacity: 0;
 


}


/* ================> top-header <================*/

.container-header-top {

    height: 50%;
    flex-basis: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-header-bottom {

    height: 50%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-header-top span {
    
    color: #393c41;

}



/* ================> logo <================*/

.container-logo {

    display: flex;
    flex-basis: 30%;
    padding-left: 32px;
    box-sizing: border-box;


}

.container-logo img {

    height: 30px;
    width: 120px;
}

/* ================> central menu <================*/

.container-central-menu {

    display: flex;
    flex-basis: 40%;
    justify-content: space-around;
    align-items: center;
    
}

.container-central-menu a, .container-menu a {

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    z-index: 10000;
}

/* ================> menu <================*/

.container-menu {
    display: flex;
    flex-basis: 30%;
    padding-right: 30px;
    text-decoration: none;
    justify-content: flex-end;
    

}

.container-menu a {

    display: flex;
    justify-content: center;
    margin-right: 30px;
}


/* ==========================> SIDE MENU <========================== */

.menu-bg-overlay {

height: 100vh;
width: 120vw;
top: 0;
right: 0;
left: 0;
position: fixed;
backdrop-filter: blur(4px);
pointer-events: inherit;
background-color: rgba(0, 0, 0, 0.3);
z-index: 9999;
transition: opacity 0.5s ease, visibility, 0.5s;
visibility: hidden;
opacity: 0;
}

.open-menu-bg-overlay{
    transition: opacity 0.5s ease, visibility, 0.5s;
    visibility: inherit;
    opacity: 1;
}

.sidebar {

    height: 100%;
    width: 312px;
    position: fixed;
    right: 0;
    background-color: white;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility, 0.5s;
    align-items: center;
    transform: translateX(50%);
    visibility: hidden;
    opacity: 0;

}

.open-sidebar {
    transition: transform 0.5s ease, opacity 0.5s ease, visibility, 0.5s;
    visibility: inherit;
    transform: translateX(0);
    opacity: 1;
    
}

.sidebar-header {

    height: 65px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}


.sidebar-header .sidebar-back-button {

display: flex;
align-items: center;
visibility: hidden;
cursor: pointer;

}

.sidebar-header .sidebar-back-button img {

    height: 14px;
    transform: rotate(180deg);
    margin-right: 5px;

}


.sidebar ul {
    
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;

}

.sidebar ul li {

    height: 40px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;

}

.sidebar ul li a{

    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 12px;
    margin: 5px 0;
    padding: 5px 15px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}


.menu-more {

display: flex;
align-items: center;
justify-content: space-between;


}

.menu-more img {

    height: 14px;

}


.lang-selector {

    display: flex;
    
}

.lang-selector .lang-icon {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
}

.lang-selector .lang-icon img {

    height: 30px;
}

.lang-selector .lang-info {

    display: flex;
    flex-direction: column;
}

.lang-selector .country {

    line-height: 30px;

}

.lang-selector .language {

    font-weight: 400;


}

.close-button, .modal-close-btn {

    height: 40px;
    width: 40px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    
}



.sidebar ul li a:hover, .close-button:hover, .modal-close-btn:hover {

    background-color: hsla(0,0%,0%,.05);
    backdrop-filter: blur(16px);
}

/* ==========================> SHOP MODAL <========================== */

/**************** HEADER *****************/
.shop-modal {

    position: fixed;
    display: flex;
    flex-direction: column;
    right: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility, 0.5s;

}

.shop-modal-open {

    visibility: inherit;
    opacity: 1;
    transform: translateY(0px);

}

.shop-modal .shop-header {

    width: 100%;
    flex-basis: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.shop-modal .header-section {
    flex-basis: 100%;
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;

}

.shop-modal .header-section .shop-title {

    margin: 0;
    font-size: 34px;
}

.shop-modal .header-search {

    height: 50%;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.shop-modal .header-search span {

    margin: 0 15px;
}


/**************** FILTERS *****************/

.shop-modal .header-search .search-bar{

    height: 70%;
    border: 1px solid #5c5e62;
    border-radius: 15px;
    margin-left: 15px;
    padding: 0 10px;
    box-sizing: border-box;

    color: #5c5e62;
    font-weight: 500;
    outline: none;
}



.shop-modal .header-search .order-by{

    height: 70%;
    width: 10%;
    border: 1px solid #5c5e62;
    border-radius: 15px;
    padding-left: 10px;

    text-align: left;
    color: #5c5e62;
    font-weight: 500;
    outline: none;
}

.shop-modal .header-search .order-by:focus{

    width: 12%;


}

.shop-modal .header-search .range-filter-wrapper {

display: flex;
align-items: center;
flex-direction: column;
width: 150px;

}

.shop-modal .header-search .range-filter-wrapper .range-filter-value {

position: relative;

width: 100%;
display: flex;
justify-content: space-between;
top: -15px;

}


.shop-modal .header-search .range-filter-wrapper input[type="number"] {
    
    height: 70%;
    width: 45%;
    border: 1px solid #5c5e62;
    border-radius: 15px;
    padding: 0 10px;
    box-sizing: border-box;

    color: #5c5e62;
    font-weight: 500;
    outline: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;

    
    }


.shop-modal .header-search .range-filter{

    position: relative;
    width: 100%;
    margin: 0 10px;
}





.shop-modal .header-search .range-filter .range-slider{

 height: 5px;
 width: 100%;
 border-radius: 5px;
 background-color: #ddd;


}

.shop-modal .header-search .range-filter input[type="range"] {
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: transparent;
    pointer-events: none;
    z-index: 9000;

}

.shop-modal .header-search .range-filter input[type="range"]::-webkit-slider-thumb{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    z-index: 9000;
    background: #3e6ae1;
    pointer-events: auto;
}

.shop-modal .header-search .range-filter .range-slider .range-progress{

    height: 5px;
    position: absolute;
    bottom: 0;
    top: 0;
    border-radius: 5px;
    right: 25%;
    left: 25%;
    background-color: #3e6ae1;
   
   }


/**************** MAIN *****************/


.shop-main {
    flex-basis: 90%;
    display: flex;
    height: inherit;
    justify-content: flex-end;
    padding-left: 15px;
    margin-top: 15px;
    box-sizing: border-box;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    

}
/**************** SIDE SECTION *****************/
.shop-main .shop-side-section {

    height: 100%;
    width: 0;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: white;
    position: relative;
    left: 7px;
    margin-left: -7px;
    transition: width 1s ease;
    visibility: hidden;
    
}

.shop-main .shop-side-section .shop-side-section-wrapper {
    
    height: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;


}

.shop-main .shop-side-section .shop-side-section-wrapper-open {
    
    opacity: 1;
    height: 100%;

}
.shop-main .shop-side-section .shop-side-section-wrapper-close {
    

    opacity: 0;
    height: 100%;

    

}

.shop-main .shop-side-section-open {


    width: 49%;
    height: 100%;
    display: flex;
    visibility: inherit;
}


.shop-main .shop-side-section-close {


    width: 0;
    height: 100%;
    display: flex;
    padding: 0px;
    margin: 0;
    visibility: inherit;
}



.shop-side-section .side-section-top {

    height: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    
    }


    .shop-side-section .back-button{

    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.shop-side-section .back-button:hover {

background-color: hsla(0,0%,0%,.05);

}


.shop-side-section .side-section-top img {
    
        height: 14px;
        transform: rotate(180deg);
        margin-right: 5px;
    
    }


    .shop-side-section .side-section-top span {

        font-size: 14px;
        
    }

.shop-side-section .shop-model-title{

    font-size: 24px;
    font-weight: 600;
    text-align: center;
    animation: reveal-up-simple 1s ease;

}

.shop-side-section .item-img {


    animation: reveal-up-simple 1s ease 0.3s backwards;
}


.shop-model-position-1 {

    display: flex;
    width: 100%;
    margin: 15px 0;

}

.shop-model-position-1 .shop-model-position-1-item{


display: flex;
flex-basis: 33%;
flex-direction: column;
align-items: center;
animation: reveal-up-simple 1s ease backwards;
}

.shop-model-position-1-item:nth-child(1){

    animation-delay: 0.1s;
}
.shop-model-position-1-item:nth-child(2){

    animation-delay: 0.2s;
}
.shop-model-position-1-item:nth-child(3){

    animation-delay: 0.3s;
}



.shop-model-position-1 .shop-model-position-1-item .position-1-value{

    font-size: 24px;

}

.shop-model-position-1 .shop-model-position-1-item .position-1-unity {

    font-size: 14px;

}

.shop-model-position-1 .shop-model-position-1-item .position-1-type {

    font-size: 12px;
    font-weight: 400;
    color: #5c5e62;

}

.shop-model-position-2 {

    display: flex;
    width: 100%;
    animation: reveal-up-simple 1s ease 0.3s backwards;

}


.shop-model-position-2 p {

    font-size: 12px;
    font-weight: 400;
    color: #5c5e62;
    
}



.shop-main .shop-side-section .item-buttons {


    flex-basis: 20%;
}

.shop-main .shop-side-section .item-buttons span {

    animation: reveal-up-simple 1s ease 0.3s backwards;

}
.shop-main .shop-side-section .item-buttons input:nth-child(2) {

    animation: reveal-up-simple 1s ease 0.4s backwards;

}
.shop-main .shop-side-section .item-buttons input:nth-child(3) {

    animation: reveal-up-simple 1s ease 0.5s backwards;

}

.shop-main .shop-side-section .item-buttons span {


    margin: 15px 0;
}



@keyframes reveal-up-simple {
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{

        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes reveal-left-simple {
    from{
        opacity: 0;
        transform: translateX(30px);
    }

    to{

        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes reveal-opacity-simple {
    from{
        opacity: 0;
    }

    to{

        opacity: 1;
    }
}





/**************** RESULTS *****************/
.shop-main .shop-results{

    flex-basis: 100%;
    height: 655px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: all 1s ease;

}

.shop-main .shop-results-open {

    width: 100%;
}

.shop-main .shop-results .shop-item{

    width: 305px;

    height: 47%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.3s;



}

.shop-item-hover , .shop-main .shop-results .shop-item:hover{

transform: translateY(-5px);
box-shadow: 2px 2px 7px 1px rgb(0 0 0 / 20%);

}



/**************** ITEMS *****************/
.shop-main .item-img {

    flex-basis: 40%;
    height: 40%;

}

.shop-main .item-img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.shop-main .item-description {

    flex-basis: 20%;

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}


.shop-main .item-description {


    font-weight: 500;
}

.shop-main .item-description .shop-model-title {

    font-size: 15px;

}

.shop-main .item-description .shop-model-price {

    font-size: 22px;


}


.shop-main .item-buttons {

flex-basis: 40%;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;


}

.shop-main .shop-buy-button, .shop-add-cart-button {

    background-color: #3e6ae1;
    width: 100%;
    height: 32px;
    border: 0;
    border-radius: 16px;
    margin-bottom: 15px;

    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.shop-add-cart-button {

    background-color: #f4f4f4;
    color: rgb(49, 49, 49);
}










/* ==========================> Main <========================== */

main {

    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

main section {

    scroll-snap-align: start;
}

.model-data {
    
    display: flex;
    flex-direction: column;
    align-items: center;
 

}

.section-model {

    height: 100vh;

}

.section-model picture, .section-model source, .section-model img {

    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;

}



.model-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: fixed;
    top: 54px;
    margin-top: 10vh;

    
}



.model-title {

    font-size: 40px;
    font-weight: 500;
    margin: 0%; 
    animation: ini-reveal-animation 1.5s;
    animation-delay: 1s;


}


.model-description {

    font-size: 14px;
    font-weight: 400;
    margin: 0%;
    animation: ini-opacity-animation 1s;
    animation-delay: 2s;
}

.model-description, .model-title {

    opacity: 0;
    animation-fill-mode: forwards;


}


.button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    position: fixed;
    bottom: 15vh;
}


.button-wrapper a:nth-child(1){

    animation: ini-reveal-animation-left 0.5s ease-out;
    opacity: 0;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.button-wrapper a:nth-child(2){

    animation: ini-reveal-animation-rigth 0.5s ease-out;
    opacity: 0;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}


.button-wrapper a {
    height: 40px;
    width: 256px;
    background-color: #dcd8d8;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Gotham Book",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #313338;

}



.button-wrapper a:first-child {
    color: white;
    background-color: #313338;
}

.scroll-indicator {

    height: 30px;
    animation: bouncing-scroll-indicator 2s infinite;
    animation-delay: 3s;

}

.scroll-indicator-wrapper {
    opacity: 0;
    position: fixed;
    bottom: 30px;
    animation: ini-reveal-animation-top 1s forwards;
    animation-delay: 2s;
}

@keyframes ini-reveal-animation-top {

    from {
        transform: translateY(-30px);
        opacity: 0;

    }

    to {

        transform: translateY(0px);
        opacity: 1;
    }

}


@keyframes bouncing-scroll-indicator {
    0% {transform: translateY(0);}
    20% {transform: translateY(10px);}
    30% {transform: translateY(0);}
    40% {transform: translateY(5px);}
    50% {transform: translateY(0);}
    100% {transform: translateY(0);}
}

@keyframes ini-reveal-animation {

    from {
        transform: translateY(30px);
        opacity: 0;

    }

    to {

        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes ini-reveal-animation-left {

    from {
        transform: translateX(-30px);
        opacity: 0;

    }

    to {

        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes ini-reveal-animation-rigth {

    from {
        transform: translateX(30px);
        opacity: 0;

    }

    to {

        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes ini-opacity-animation {

    from {
        opacity: 0;

    }

    to {

        opacity: 1;
    }

}


.animation-none {

    animation: none !important; 
    opacity: 1 !important;
}


/* ==========================> media querry <========================== */

@media (min-width: 640px) and (max-width: 1200px) {
    
    header {
            justify-content: space-between;
        
        }
        
    .container-central-menu {
        
            display: none;
        }
        
    header .container-menu #shop-button, header .container-menu #account-button{

            display: none;
        }

    header .container-menu #side-menu-button {

            width: fit-content;
            margin-right:  32px;;
        }

}


@media (max-width: 639px) {

    
    header {
            justify-content: space-between;
        
        }
        
    .container-central-menu {
        
            display: none;
        }
        
        header .container-menu #shop-button, header .container-menu #account-button{
    
            display: none;
        }
    
    header .container-menu #side-menu-button {
    
            width: fit-content;
            margin-right:  32px;;
        }


    .button-wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

    .button-wrapper a {


            flex-basis: 100%;
            margin-bottom: 15px;
        }

}