/* ==========================> global <========================== */
*{
        font-family: Gotham Medium,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        color: #393c41;
        scroll-behavior: smooth;
}

body{
    background-color: rgb(226, 226, 226);
    padding: 0;
    margin: 0;
    overflow-y: hidden;

    
}


/* ==========================> Header <========================== */


header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    animation: ini-opacity-animation 1.5s;


}


.header-wrapper{

    min-height: 54px;
    align-items: center;

}

#marker {

    background-color: hsla(0,0%,0%,.05);
    backdrop-filter: blur(16px);
    padding: 0 12px;
    position: absolute;
    left: 0;
    height: 32px;
    border-radius: 12px;
    transition: background-color 1.5s , width 0.5s;
    z-index: -1;
    opacity: 0;
 


}


/* ================> top-header <================*/

.container-header-top {

    height: 50%;
    flex-basis: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-header-bottom {

    height: 50%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-header-top span {
    
    color: #393c41;

}



/* ================> logo <================*/

.container-logo {

    display: flex;
    flex-basis: 30%;
    padding-left: 32px;
    box-sizing: border-box;


}

.container-logo img {

    height: 30px;
    width: 120px;
}

/* ================> central menu <================*/

.container-central-menu {

    display: flex;
    flex-basis: 40%;
    justify-content: space-around;
    align-items: center;
    
}

.container-central-menu a, .container-menu a {

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    z-index: 10000;
}

/* ================> menu <================*/

.container-menu {
    display: flex;
    flex-basis: 30%;
    padding-right: 30px;
    text-decoration: none;
    justify-content: flex-end;
    

}

.container-menu a {

    display: flex;
    justify-content: center;
    margin-right: 30px;
}


/* ==========================> SIDE MENU <========================== */

.menu-bg-overlay {

height: 100vh;
width: 100vw;
position: fixed;
backdrop-filter: blur(4px);
pointer-events: inherit;
background-color: rgba(0, 0, 0, 0.3);
z-index: 9999;
}

.sidebar {

    height: 100%;
    width: 312px;
    position: fixed;
    right: 0;
    background-color: white;
    z-index: 10000;
    display: flex;
    align-items: center;
}

.sidebar ul {
    
    height: 80%;
    width: 100%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;

}

.sidebar ul li {


    font-weight: 500;
    font-size: 14px;
    padding: 5px 15px;
    line-height: 21px;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

}

.sidebar ul li a{

    text-decoration: none;
}


.menu-more {

display: flex;
align-items: center;
justify-content: space-between;


}

.menu-more img {

    height: 14px;

}


.lang-selector {

    display: flex;
    
}

.lang-selector .lang-icon {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
}

.lang-selector .lang-icon img {

    height: 30px;
}

.lang-selector .lang-info {

    display: flex;
    flex-direction: column;
}

.lang-selector .country {

    line-height: 30px;

}

.lang-selector .language {

    font-weight: 400;


}

.close-button {

    position: absolute;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    
}



.sidebar ul li:hover, .close-button:hover {

    background-color: hsla(0,0%,0%,.05);
    backdrop-filter: blur(16px);
}




/* ==========================> Main <========================== */

main {

    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

main section {

    scroll-snap-align: start;
}

.model-data {
    
    display: flex;
    flex-direction: column;
    align-items: center;
 

}

.section-model {

    height: 100vh;

}

.section-model picture, .section-model source, .section-model img {

    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;

}



.model-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: fixed;
    top: 54px;
    margin-top: 10vh;

    
}



.model-title {

    font-size: 40px;
    font-weight: 500;
    margin: 0%; 
    animation: ini-reveal-animation 1.5s;
    animation-delay: 1s;


}


.model-description {

    font-size: 14px;
    font-weight: 400;
    margin: 0%;
    animation: ini-opacity-animation 1s;
    animation-delay: 2s;
}

.model-description, .model-title {

    opacity: 0;
    animation-fill-mode: forwards;


}


.button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    position: fixed;
    bottom: 15vh;
}


.button-wrapper a:nth-child(1){

    animation: ini-reveal-animation-left 0.5s ease-out;
    opacity: 0;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.button-wrapper a:nth-child(2){

    animation: ini-reveal-animation-rigth 0.5s ease-out;
    opacity: 0;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}


.button-wrapper a {
    height: 40px;
    width: 256px;
    background-color: #dcd8d8;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Gotham Book",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #313338;

}



.button-wrapper a:first-child {
    color: white;
    background-color: #313338;
}

.scroll-indicator {

    height: 30px;
    animation: bouncing-scroll-indicator 2s infinite;
    animation-delay: 3s;

}

.scroll-indicator-wrapper {
    opacity: 0;
    position: fixed;
    bottom: 30px;
    animation: ini-reveal-animation-top 1s forwards;
    animation-delay: 2s;
}

@keyframes ini-reveal-animation-top {

    from {
        transform: translateY(-30px);
        opacity: 0;

    }

    to {

        transform: translateY(0px);
        opacity: 1;
    }

}


@keyframes bouncing-scroll-indicator {
    0% {transform: translateY(0);}
    20% {transform: translateY(10px);}
    30% {transform: translateY(0);}
    40% {transform: translateY(5px);}
    50% {transform: translateY(0);}
    100% {transform: translateY(0);}
}

@keyframes ini-reveal-animation {

    from {
        transform: translateY(30px);
        opacity: 0;

    }

    to {

        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes ini-reveal-animation-left {

    from {
        transform: translateX(-30px);
        opacity: 0;

    }

    to {

        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes ini-reveal-animation-rigth {

    from {
        transform: translateX(30px);
        opacity: 0;

    }

    to {

        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes ini-opacity-animation {

    from {
        opacity: 0;

    }

    to {

        opacity: 1;
    }

}


.animation-none {

    animation: none !important; 
    opacity: 1 !important;
}


/* ==========================> media querry <========================== */

@media (min-width: 640px) and (max-width: 1200px) {
    
    header {
            justify-content: space-between;
        
        }
        
    .container-central-menu {
        
            display: none;
        }
        
    header .container-menu #shop-button, header .container-menu #account-button{

            display: none;
        }

    header .container-menu #side-menu-button {

            width: fit-content;
            margin-right:  32px;;
        }

}


@media (max-width: 639px) {

    
    header {
            justify-content: space-between;
        
        }
        
    .container-central-menu {
        
            display: none;
        }
        
        header .container-menu #shop-button, header .container-menu #account-button{
    
            display: none;
        }
    
    header .container-menu #side-menu-button {
    
            width: fit-content;
            margin-right:  32px;;
        }


    .button-wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

    .button-wrapper a {


            flex-basis: 100%;
            margin-bottom: 15px;
        }

}